*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  background: var(--dark-navy, #1A2A33);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  position: relative;
}

.main-container {
  width: 460px;

  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.xo-container {
  width: 100%;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}


.player-choice-container {
  width: 100%;
  height: 205px;
  border-radius: 15px;
  background: var(--semi-dark-navy, #1F3641);
  box-shadow: 0px -8px 0px 0px #10212A inset;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.player-choice-title {
  width: 100%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;

  color: var(--silver, #A8BFC9);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.x-o-box {
  width: 100%;
  height: 72px;
  border-radius: 10px;
  background: var(--dark-navy, #1A2A33);
  padding-left: 8px;
  padding-right: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-x {
  width: 50%;
  height: 54px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container-x:hover {
  opacity: 0.8;
} */

.container-o {
  width: 50%;
  height: 54px;
  border-radius: 10px;
  background-color: #A8BFC9;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container-o:hover {
  opacity: 0.8;
} */


.player-choice-footer {
  color: var(--silver, #A8BFC9);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.875px;
  opacity: 0.5;
  margin-top: 20px;
}


.btn-cpu {
  width: 460px;
  height: 67px;
  border-radius: 15px;
  background: var(--light-yellow, #F2B137);
  box-shadow: 0px -8px 0px 0px #CC8B13 inset;
  color: var(--dark-navy, #1A2A33);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-cpu:hover {
  background: var(--light-yellow-hover, #FFC860);
  box-shadow: 0px -8px 0px 0px #CC8B13 inset;
}

.btn-player {
  width: 460px;
  height: 67px;
  border-radius: 15px;
  background: var(--light-blue, #31C3BD);
  box-shadow: 0px -8px 0px 0px #118C87 inset;
  color: var(--dark-navy, #1A2A33);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  padding-bottom: 5px;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn-player:hover {
  background: var(--light-blue-hover, #65E9E4);
  box-shadow: 0px -8px 0px 0px #118C87 inset;
}

.btn-player:focus {
  outline: none;
}





/* ///////////////////////////////////////////////////////// */






@media (max-width: 480px) {

  
  body{
    position: static;
  }
  
  .main-container {
    width: 90vw;
    margin: auto;
    margin-top: 30vw;

    position: static;
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }
  
  .btn-cpu {
    width: 90vw;
    font-size: 5.5vw;
  }
  
  .btn-player {
    width: 90vw;
    font-size: 5.5vw;
  }

}
